# Django core
django==5.1.1

# Caching
django-cacheops==7.0.2
redis==5.0.1

# Development tools
ipython==8.18.1
django-debug-toolbar==4.3.0

# Testing
pytest==7.4.3
pytest-django==4.7.0

# Production
gunicorn==21.2.0
psycopg2-binary==2.9.9  # For PostgreSQL in production